/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


.lgbg {
  @apply lg:bg-[url('https://res.cloudinary.com/doawzlqxi/image/upload/v1741291692/Rectangle_13_s2trfp.png')] bg-[url('https://res.cloudinary.com/doawzlqxi/image/upload/v1742806888/Rectangle_13_oyzaea.png')];
  /* background-image: url('https://res.cloudinary.com/doawzlqxi/image/upload/v1741291692/Rectangle_13_s2trfp.png'); */
  background-position: center right;
  background-repeat: no-repeat;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




.loader span{
  @apply rounded-full block;
  /* animation: loading 1s ease-in-out infinite alternate; */
}
.loader span:nth-child(1){
  @apply size-2 bg-[#FFFFFFCC];
}
.loader span:nth-child(2){
  @apply size-3.5 bg-[#FFFFFF99];
  animation-delay: .3s;
}
.loader span:nth-child(3){
  @apply size-[18px] bg-[#FFFFFF66];
  animation-delay:.6s;
}

.nav-icon span{
  height: 2px;
  background-color: white;
  width: 100%;
  opacity: 1;
  display: block;
  border-radius: 5px;
  transition: transform .3s ease-in-out, opacity .3s ease-in-out, width .3s ease-in-out;
}

.nav-icon span:nth-child(2){
  width: 18px;
}
.nav-icon span:nth-child(3){
  width: 10px;
}
.active span:nth-child(1){
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
.active span:nth-child(2){
  opacity: 0;
}
.active span:nth-child(3){
  width: 24px;
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}
.mobile-menu{
  height: 0px;
  visibility: hidden;
  pointer-events: none;
  padding: 0 1rem;
}
.menu{
  transition: height .3s ease-in-out, visibility .3s ease-in-out, padding .2s ease;
}
.menu li{
  opacity: 0;
  transition: opacity .3s ease .1s;
  padding: 0.5rem;
}
.active-menu{
  padding: 2rem 1rem;
  height: 50vh;
  visibility: visible;
  pointer-events: all;
}
.active-menu li{
  opacity: 1;
}
